{%extends 'all_images/base.html'%}
{% load bootstrap3 %}
 {% load staticfiles %}

{% block content %} 
{{ block.super}}

        <div class='container'>
               
                <div class="row">
                        <div style="display:flex;justify-content:space-evenly;">
                        {% for image in images %}
                  
                        
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                        <div class="hovereffect">
                                            <img class="img-responsive" src="{{image.image.url}}" alt="" style="width: 320px;height:260px;margin-top:15px;">
                                            <div class="overlay">
                                               <h2>{{image.image_name}}</h2>
                                               <a class="info" href="{% url 'image' image.id %}">Details</a>
                                            </div>
                                        </div>
                                    </div>


                        {% for com in i.comment_set.all %}
                        <span><p><strong>{{current_user.username}}:</strong>{{com.comment}}</p></span>
                      </div>
                       {% endfor %}
                                
                        {% empty %}
                                <div class="row">
                                <h2 class="text-center">There Are No Images</h2>
                                </div>
                        {% endfor %}
                </div>
                </div> 
        </div> 
{% endblock %}
{% block styles %} {% bootstrap_css %}
  <link rel="stylesheet" href="{% static 'css/news.css' %}">
{% endblock %}