{%extends 'all_images/base.html'%}
{% block content %} 
{{ block.super}}

        <div class='container'>
               
                <div class="row">
                        <div style="display:flex;justify-content:space-evenly;">
                        {% for image in images %}
                        <div>
                                        <a href="{% url 'profile' image.user.id %}"><h5 class="card-header">{{image.user.username}}</h5></a>
                                        <a href="{% url 'image' image.id %}"><img src="{{image.image.url}}" class="img-responsive  card-body" alt="Image" style="width: 250px;height:260px;margin-top:15px;"></a>
                                        <!-- <a href="{% url 'like' image.id %}">{{image.likes}}<i class="fa fa-heart" style="color:rgb(165, 58, 58);"></i></a> -->
                        </div>
                        
                        {% for com in i.comment_set.all %}
                        <span><p><strong>{{current_user.username}}:</strong>{{com.comment}}</p></span>
                      </div>
                       {% endfor %}
                                
                        {% empty %}
                                <div class="row">
                                <h2 class="text-center">There Are No Images</h2>
                                </div>
                        {% endfor %}
                </div>
                </div> 
        </div> 
{% endblock %}
