{%extends 'all_images/base.html'%}
{% load bootstrap3 %}
 {% block content %}

 <div class="container">

   <div class="row" style="background-color: rgb(245, 237, 237)">
    
     

        <div class="card" style="width: 18rem;">
            <img src="{{image.image.url}}" class="card-img-top" alt="..." style="width:500px;height:320px;margin-left: 0%;margin-top:15px;">
            <a href="{% url 'comment' image.id%}" ><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQt2iNiNmbM4n2qcUJUOZr2C-dI-EDvT_c3yLH-E6h2jk6wVqoY
              " style="margin-left:20%;margin-top:0.5%;position:absolute"width=25></a>
        
         <a href="{% url 'like' image.id %}"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR4_zX0jPFV2nDzCOIJdm1roMOLb7yEjXaTtx9OI3zNVjxTUC87" alt="instagram logo on nav-bar " style="width:53px; height:30px;margin-top:5px;margin-left:26px;border-right:1px solid;padding-right: 23px; ">{{image.like}}</a>
        
            <div class="card-body">
              <h3 class="card-title">{{image.image_name}}</h3>
              <div class="card-text"><h5>posted_by :<a href="{% url 'profile' image.user.id %}">{{image.user.username}}</a></h5>
                {% autoescape on %}
                <p>caption:{{image.image_caption| safe}}</p>
                {% endautoescape %}
                <p>Posted {{image.pub_date|timesince}}</p>
                <h4>Reviews</h4>    
                   {% for com in comments %}
                   <li>{{com.comment}}</li>
                   {% endfor %}</div>
              <a href="{{image.link}}" class="btn btn-primary">Site</a>
            </div>
          </div>


 {% endblock %}